<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
     <meta charset="utf-8"/>
    <title>EDIT</title>
</head>
<body>
<h3>Request edit</h3>
<br/>
<form th:method="POST" th:action="@{/request/{id}(id=${request.getIdR()})}" th:object="${request}">
    <label for="idR">Enter idR: </label>
    <input type="hidden" th:field="*{idR}" id="idR"/>
    <br/>
    <label for="id">Enter ID: </label>
    <input type="hidden" th:field="*{id}" id="id"/>
    <br/>
    <label for="groupe">Enter groupe: </label>
    <input type="text" th:field="*{groupe}" id="groupe"/>
    <br/>
    <label for="pairs">Enter pairs: </label>
    <input type="text" th:field="*{pairs}" id="pairs"/>
    <br/>
    <label for="subject">Enter subject: </label>
    <input type="text" th:field="*{subject}" id="subject"/>
    <br/>
   <!-- <label for="date">Enter subject: </label>
    <input type="hidden" th:field="*{date}" id="date"/>
    <br/>-->
    <input type="submit" value="Update!"/>
</form>


</body>
</html>