<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8"/>
        <title>USER Request</title>
        <style type="text/css">
            TABLE {
                width: 1400px;
            }
            TH {
                background: #4b0082; 
                color: #fffff0; 
            }
            TD, TH {
                padding: 3px; 
            }
        </style>    

    </head>

    <body>
         <h3> Table of requests :</h3>
      
      <div>
       <table  summary="Table requests" border="1" cellspacing="2" align="center" >
            <caption>Lessons requests table</caption>
            <thead>
                <tr>
                    <th>   IDR     </th>
                    <th>   ID      </th>
                    <th>   GROUPE  </th><!-- comment -->
                    <th>   PAIRS   </th>
                    <th>   SUBJECT </th>
                    <th>   Date of request </th>
                    <th>   Edit request </th>
                    <th>   Delete request </th>
                 </tr>
            </thead>
            <tbody>
                <tr th:each="request : ${requests}"
                    th:style="${request}? 'font-weight: 30;'">
                    <td th:text="${request.idR}"></td>
                    <td th:text="${request.id}" ></td>
                    <td th:text="${request.groupe}" ></td>
                    <td th:text="${request.pairs}" ></td>
                    <td th:text="${request.subject}" ></td>
                    <td th:text="${#dates.format(request.date, 'dd-MMM-yyyy')}"></td>
                    <td> 
                        <form th:method="GET" th:action="@{/request/{id}/edit (id=${request.idR})}">
                            <input type="submit" value="UPDATE"/>
                        </form>    
                    </td>

                    <td> 
                        <form th:method="POST" th:action="@{/request/delete/{id} (id=${request.idR})}">
                            <input type="submit" value="DELETE"/>
                        </form>

                    </td>    
                </tr>
            </tbody>
        </table>
        </div>
        <br/>
        <form th:method="GET" th:action="@{/request/newRequest/{id} (id=${id})}">
            <input type="submit" value="NEW REQUEST"/>                 
        </form>    
        <br/>   
        <form th:method="GET" th:action="@{/user}">
            <input type="submit" value="EXIT TO USERS TABLE"/>
        </form>

         <br/>
         <form th:method="GET" th:action="@{/serializator/save}">
             <input type="submit" value="SAVE YOUR REQUESTS"/>
         </form>
    </body>

</html>


