<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
     <meta charset="utf-8"/>
    <title>USER</title>
<style type="text/css">
   TABLE {
    width: 1200px;
   }
   TH {
    background: #4b0082; 
    color: #fffff0; 
   }
   TD, TH {
    padding: 3px; 
   }
  </style>    

</head>
    
        
 
<body>
    <h3> Table of teachers </h3>
   
    <table  summary="Table of teachers" border="1" cellspacing="2" align="center" >
         <caption>Users table</caption>
         
    <thead>
    <tr>
        <th>   ID     </th>
        <th>   Name   </th>
        <th>   Login   </th><!-- comment -->
        <th>   Password   </th>
        <th>   Email       </th>
        <th>   Click       </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}"
        
        th:style="${user}? 'font-weight: 30;'">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}" ></td>
        <td th:text="${user.login}" ></td>
        <td th:text="${user.password}" ></td>
        <td th:text="${user.email}" ></td>
        <td> <a th:href="@{/user/{id}(id=${user.id})}" th:text="CHANGE">user</a></td>
    </tr>
      </tbody>
  </table>

    <form th:method="GET" th:action="@{/user/new}">
        <input type="submit" value="New user"/>
    </form>


    <p><a href="/login" target="_parent">Quit</a></p>
 
</body>
     
</html>


